global:
  nodeSelector:
    role: dependent-services

prometheus:
  prometheusSpec:
    retention: 7d

    resources:
      requests:
        cpu: 200m
        memery: 512Mi
      limits:
        cpu: 500m
        memory: 1Gi
    
    enableAdminAPI: false
  
alertmanager:
  alertmanagerSpec:
    resources:
      requests:
        cpu: 50m
        memory: 128Mi
      limits:
        cpu: 200m
        memory: 256Mi

grafana:
  enabled: false

nodeExporter:
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      cpu: 200m
      memory: 128Mi

kubeStateMetrics:
  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      cpu: 200m
      memory: 256Mi      