config:
  clients:
    - url: http://loki:3100/loki/api/v1/push

  snippets:
    pipelineStages:
      - cri: {}
      - match:
          selector: '{namespace="student-api"}'
          stages:
            - json:
                expressions:
                  level: level
                  msg: msg
            - labels:
                level:

daemonset:
  enabled: true

resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 100m
    memory: 128Mi