server:
  dataStorage:
    enabled: true
    size: 10Gi

  securityContext:
    runAsUser: 100
    runAsGroup: 1000
    fsGroup: 1000
    runAsNonRoot: true

  extraEnvironmentVars:
    SKIP_CHOWN: "false"
    SKIP_SETCAP: "true"
