server:
  dataStorage:
    enabled: true
    size: 10Gi

  securityContext:
    runAsUser: 100
    runAsGroup: 1000
    fsGroup: 1000
    runAsNonRoot: true

  extraInitContainers:
    - name: fix-permissions
      image: busybox:1.36
      command:
        - sh
        - -c
        - |
          chown -R 100:1000 /vault/data
      securityContext:
        runAsUser: 0
