loki:
  auth_enabled: false
  useTestSchema: true

  commonConfig:
    replication_factor: 1
    ring:
      kvstore:
        store: inmemory

  storage:
    type: 'filesystem'
    bucketNames:
      chunks: chunks
      ruler: ruler
      admin: admin

memberlist:
  enabled: false

deploymentMode: SingleBinary

singleBinary:
  replicas: 1

  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 200m
      memory: 256Mi

  persistence:
    enabled: true
    size: 10Gi

read:
  replicas: 0

write:
  replicas: 0

backend:
  replicas: 0

monitoring:
  serviceMonitor:
    enabled: true

  selfMonitoring:
    enabled: false
    grafanaAgent:
      installOperator: false

test:
  enabled: false