deploymentMode: SingleBinary

loki:
  auth_enabled: false
  
  commonConfig:
    replication_factor: 1
  
  storage:
    type: 'filesystem'
  
  schemaConfig:
    configs:
      - from: "2024-01-01"
        store: tsdb
        object_store: filesystem
        schema: v13
        index:
          prefix: loki_index_
          period: 24h

singleBinary:
  replicas: 1

  podSecurityContext:
    fsGroup: 10001
    runAsUser: 10001
    runAsNonRoot: true
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi
  
  persistence:
    enabled: true
    size: 10Gi

read:
  replicas: 0

write:
  replicas: 0

backend:
  replicas: 0

monitoring:
  serviceMonitor:
    enabled: true
  
  selfMonitoring:
    enabled: false
    grafanaAgent:
      installOperator: false

test:
  enabled: false

lokiCanary:
  enabled: false

gateway:
  enabled: false