deploymentMode: SingleBinary

loki:
  auth_enabled: false

  commonConfig:
    replication_factor: 1
    ring:
      kvstore:
        store: inmemory

  storage:
    type: filesystem

  schemaConfig:
    configs:
      - from: 2024-04-01
        store: tsdb
        object_store: filesystem
        schema: v13
        index:
          prefix: index_
          period: 24h

  storage_config:
    filesystem:
      directory: /var/loki/chunks
    tsdb_shipper:
      active_index_directory: /var/loki/index
      cache_location: /var/loki/index-cache

  limits_config:
    reject_old_samples: false

singleBinary:
  replicas: 1

  persistence:
    enabled: true
    size: 10Gi

memberlist:
  enabled: false

chunksCache:
  enabled: false

resultsCache:
  enabled: false

indexGateway:
  enabled: false

gateway:
  enabled: false

monitoring:
  serviceMonitor:
    enabled: true

test:
  enabled: false
