deploymentMode: SingleBinary

loki:
  ruler:
    enabled: false
  auth_enabled: false
  podSecurityContext:
    runAsUser: 0
    runAsNonRoot: false
  
  containerSecurityContext:
    readOnlyRootFilesystem: false
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL
  

  server:
    http_listen_port: 3100
    grpc_listen_port: 9095
    http_listen_address: 0.0.0.0
    grpc_listen_address: 0.0.0.0

  commonConfig:
    replication_factor: 1
  
  storage:
    type: 'filesystem'
  
  schemaConfig:
    configs:
      - from: "2024-01-01"
        store: tsdb
        object_store: filesystem
        schema: v13
        index:
          prefix: loki_index_
          period: 24h

singleBinary:
  replicas: 1

  podSecurityContext:
    runAsUser: 0
    runAsNonRoot: false
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi
  
  persistence:
    enabled: true
    size: 10Gi

read:
  replicas: 0

write:
  replicas: 0

backend:
  replicas: 0

monitoring:
  serviceMonitor:
    enabled: true
  
  selfMonitoring:
    enabled: false
    grafanaAgent:
      installOperator: false

test:
  enabled: false

lokiCanary:
  enabled: false

gateway:
  enabled: false