# yaml-language-server: $schema=https://raw.githubusercontent.com/argoproj/argo-cd/master/assets/swagger.json
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: loki
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "3"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default

  sources:
    - repoURL: https://grafana.github.io/helm-charts
      chart: loki
      targetRevision: 6.51.0
      helm:
        valueFiles:
          - $values/helm/observability/loki/values.yaml

    - repoURL: https://github.com/sai29/one2n_sre_bootcamp.git
      targetRevision: main
      ref: values

  destination:
    server: https://kubernetes.default.svc
    namespace: observability

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=false
      - ServerSideApply=true